<div class ="background">
<p>admin-dashboard works!</p>



<div class="admin-dashboard">
    <h2>Welcome to Admin Dashboard</h2> 
    <br>
    <p>Manage admin users, client information, schedules, and meetings.</p>
   <br>
  <nav>
    <a routerLink="/admin/admin-list" class="animated-link">Admin User Management</a>
  <br>
    <a routerLink="/admin/client-list" class="animated-link">Client User Management</a>
  <br>
    <a routerLink="/admin/meeting-list" class="animated-link">Meeting Management</a>
  <br>
  <a routerLink="/">Back Home</a>
  <nav>
  
  
  
