<!-- meeting/book/book-meeting.component.html -->

<div>
  <p>Book Your Meeting Here:</p>
  
  
  <form [formGroup]="meetingForm" (ngSubmit)="bookMeeting()">
    
    <label for="dateField">Meeting Date:</label>
    <input type="date" id="dateField" formControlName="date" required>
  
    <label for="startTimeField">Meeting Start Time:</label>
    <input type="time" id="startTimeField" formControlName="start_time" required>
    
    <label for="endTimeField">Meeting End Time:</label>
    <input type="time" id="endTimeField" formControlName="end_time" required>
  
    <label for="timeZoneField">Time Zone:</label>
    <input type="text" id="timeZoneField" formControlName="time_zone" required>
  
    <label for="locationField">Location:</label>
    <input type="text" id="locationField" formControlName="location" required>
  
    <label for="meetingTypeField">Meeting Type:</label>
    <select id="meetingTypeField" formControlName="meeting_type">
      <option value="I">Internal</option>
      <option value="E">External</option>
    </select>
  
    <label for="subjectField">Subject:</label>
    <input type="text" id="subjectField" formControlName="subject">
  
    <label for="attendeesField">Attendees (comma separated):</label>
    <textarea id="attendeesField" formControlName="attendees"></textarea>
  
    <label for="hostField">Host:</label>
    <input type="text" id="hostField" formControlName="host">
  
    <label for="coHostField">Co-Host:</label>
    <input type="text" id="coHostField" formControlName="co_host">
  
    <label for="notesField">Notes:</label>
    <textarea id="notesField" formControlName="notes"></textarea>
  
    <button type="submit">Book Meeting</button>
  </form>
  </div>