<div class ="background">

  <!-- Rest of your content -->


<div class="hero-section">
  <div class="hero-content">
    <h1 class="triple-size">Welcome to the Ultimate Scheduler</h1>
    <p>Your one-stop solution for efficient scheduling and meetings</p>
    <nav>
     
        <a routerLink="/client/client-register" class="client-register-link">New Friend Register</a>
        <br>
        <br>
        <a routerLink="/client/client-login" class="client-login-link">Friend Login</a>
        <br>
        <br>
        <a routerLink="/calendar" class="calendar-link">View Calendar</a>
        <br>
        <br>
          <a routerLink="/admin/admin-login" class="admin-login-link">Admin Login</a>
          <br>
          <br><a routerLink="/admin/admin-register" class="animated-link">New Admin User Registration</a>
          <br>
    </nav>
    
  </div>
