:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  animation: slideIn 2s ease-in-out;
}

  button {
    position: fixed;  
    bottom: 20px;     
    left: 20px;       
    background-color: #dcdad1;  
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  
    &:hover {
      background-color: #605e53;
      transform: scale(1.05);
    }
  }
  
  
  
  .hero-section {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}
  
  .hero-content {
      text-align: center;
      animation: slideIn 1.5s ease-in-out; 
      
  }
  
  .triple-size {
      font-size: 6em;
      margin: 0;
      animation: bounce 5s infinite; /* Keep the bounce animation*/
      color: #c8bebe;
      font-family: alike angular;

  }
  
  nav a.client-register-link {
    background-color: rgba(255, 255, 255, 0); 
    background-position: left center; 
    background-repeat: no-repeat;
    background-size: 25px 25px;  /* Adjust the dimensions as needed */
    padding-left: 30px;  /* Add some padding to the left to make room for the image */
   
    margin-top: auto;
    font-size: 20px;  /* Add this line to set the font size */
    font-family: alike angular;

    background-image: url('../shared/images/pen2.jpg');
  }
  
  nav a.client-login-link {
    background-color: rgba(255, 255, 255, 0); 
    background-position: left center; 
    background-repeat: no-repeat;
    background-size: 25px 25px;  /* Adjust the dimensions as needed */
    padding-left: 30px;  /* Add some padding to the left to make room for the image */
    margin-top: auto;
    font-size: 20px;  /* Add this line to set the font size */
    font-family: alike angular;
    background-image: url('../shared/images/Key.jpg');
  }
  
  nav a.calendar-link {
    background-color: rgba(255, 255, 255, 0); 
    background-position: left center; 
    background-repeat: no-repeat;
    background-size: 25px 25px;  /* Adjust the dimensions as needed */
    padding-left: 30px;  /* Add some padding to the left to make room for the image */
    margin-top: auto;
    font-size: 20px;  /* Add this line to set the font size */
    font-family: alike angular;
    background-image: url('../shared/images/calendar.png');
  }
  
  nav a.admin-dashboard-link {
    background-color: rgba(255, 255, 255, 0); 
    background-position: left center; 
    background-repeat: no-repeat;
    background-size: 25px 25px;  /* Adjust the dimensions as needed */
    padding-left: 30px;  /* Add some padding to the left to make room for the image */
    margin-top: auto;
    font-size:20px;  /* Add this line to set the font size */
    font-family: alike angular;
    background-image: url('../shared/images/admin.png');
  }
  
  nav a:hover {
      background-color: #424a42;
      transform: scale(1.05);
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
}
@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #c8bebe;
  font-family: alike angular;
  font-style: italic;

}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../shared/images/Home.jpg'); /* Replace with the actual path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  
}