/* calendar/calendar.component.scss */

.calendar-container {
    position: relative; /* Ensures the child is positioned relative to this */
  }
  
  .link-container {
    position: absolute;
    bottom: px;
    right: 400px;
  }
  
nav a  {
    color: #eee3e3; /* or any color you want */
 
  }
  .info-text {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
  }
  
  .info-text a {
    color: #ac8be0; // Or any color that suits your design
  }
